@font-face {
  font-family: OverpassHeavy;
  src: url('../assets/overpass-desktop-fonts/overpass/overpass-heavy.otf');
  font-weight: normal;
}

@font-face {
  font-family: OverpassBold;
  src: url('../assets/overpass-desktop-fonts/overpass/overpass-bold.otf');
  font-weight: normal;
}

@font-face {
  font-family: Overpass;
  src: url('../assets/overpass-desktop-fonts/overpass/overpass-regular.otf');
  font-weight: normal;
}
h1 {
  text-rendering: optimizeLegibility;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1.6rem;
}

h2 {
  text-rendering: optimizeLegibility;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
